*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
   width: 100%;
   height: 100%;

}
#center{
background-image: url(./bg.png);
background-position: center;
background-size: cover;

}
#abc{
    color: teal;
    font-weight: 500;
}
#btn{
    background-color: beige;
    color: black;
}
#heading{
    font-weight: 500;
    font-size: 40px;
}
#a{
    color: #fffcfc;
}
#x{
    margin-left: 4rem;
    color: #fff;
}
#y{
    margin-left: 5rem;
    color: #fff;
}
#n{
    color: #fff;
}
#tick{
    font-size: 200px;
}
